.rest-attributes {
	justify-content: flex-start;
 	flex-direction: row;
 		display:block;
}

.rest-secondary-attributes {
	display:block;
	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;
 	padding-right: 5vw;
}