.App {
  text-align: center;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  background-image: url('../../graphics/background.png');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-container {
  background-color: white;
  padding-bottom:3vw;
}

#content {
  position: relative;

}

#content img{
  padding-right: 10px;
  position: absolute;
  top: 2px;
  right: 0px;
}

.h4 h4{
  text-decoration: underline;
}

#result-container {
  display: flex;
}

ul {
  list-style: none;
}

ul > li:hover {
  cursor: pointer;
  background-color: #4ca3e0;
}

ul > li.active {
  background-color: #4ca3e0;
}

#side-bar{

  display:flex;
}